/* Add screen styles below */

body {
    background: #ffff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;
}

main {
    margin: 0 auto;
    width: 800px;
}

.details {
    display: flex;
    gap: 10px;
    gap: 10px 10px;
    row-gap: 10px;
    column-gap: 10px;
}

img {
    width: 100%;
}